 <section class="text-center about">
      <h1>About US</h1>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
            <span class="fa fa-group"></span>
            <h2 style="opacity: .8">Who Are We?</h2>
            <p class="lead">We are the ones you should call. Seriously</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-info"></span>
            <h2>What do We do?</h2>
            <p class="lead">We sell what can't be sold elsewhere</p>
          </div>
          <div class="clearfix visible-md-block visible-sm-block"></div>
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-file"></span>
            <h2>Contact Us</h2>
            <p class="lead">Just ring us!</p>
          </div>
          
        </div>
        
      </div>
    </section>